{{log actor}}

<form class="actor-sheet {{ cssClass }}" autocomplete="off">
  {{~> (partial moduleId "actor/header") moduleId=moduleId actor=actor}}
  <section class="lrdk-caracs">
    {{#each actor.system.caracs as |carac|}}
    <div class="lrdk-carac">
      <a class="lrdk-roll" data-carac="{{ @index }}">
        <i class="fa-solid fa-dice-d20"></i>
      </a>
      <label>{{ localize (concat 'LRDK.Actor.Caracs.' carac.name)  }}</label>
      <input
        type="hidden"
        name="system.caracs.{{ @index }}.name"
        value="{{ carac.name }}"
      />
      <input
        type="number"
        name="system.caracs.{{ @index }}.value"
        value="{{ carac.value }}"
      />
      <div>&nbsp;({{ valueToModif carac.value }})</div>
    </div>
    {{/each}}
  </section>
  <section class="lrdk-talents">
    {{#each actor.system.talents as |talent|}}
    <div class="lrdk-talent">
      <input
        type="text"
        name="system.talents.{{ @index }}.name"
        value="{{ talent.name }}"
        placeholder="{{localize 'LRDK.Actor.talents'}}"
      />
      <input
        type="number"
        name="system.talents.{{ @index }}.level"
        value="{{ talent.level }}"
      />
      <textarea name="system.talents.{{ @index }}.description" rows="3">{{
        talent.description
      }}</textarea>
    </div>
    {{/each}}
  </section>
  <section class="lrdk-notes">
    {{!-----------------------------------------}}
    {{!-- notes --}}
    {{!-----------------------------------------}}
    <div class="lrdk-note">
      <textarea name="system.notes" rows="10">{{
        actor.system.notes
      }}</textarea>
    </div>
  </section>
</form>
