<div class="dice-roll">
  <div class="dice-result">
    <div
      class="cowboy-dice-tooltip dice-tooltip expanded"
      style="display: block"
    >
      <section class="tooltip-part">
        <div class="dice">
          <header class="part-header flexrow">
            <span class="part-formula"
              >{{ roll.total }} + {{ modif }} + {{ modifier }} &ge;
              {{ difficulty }}
            </span>

            <span class="part-total">{{ carac.name }} </span>
          </header>
          <h4
            class="dice-total
          {{#if success}}
          success
          {{else}}
          failure
          {{/if}}
          "
          >
            {{ result }}
          </h4>
          {{~> (partial moduleId "diceDetails") roll=roll }}
        </div>
      </section>
    </div>
  </div>
</div>
