{{!-- ----------------------------------------- --}}
{{!-- Header --}}
{{!-- ----------------------------------------- --}}
<header class="sheet-header">
  <img
    src="{{ actor.img }}"
    data-edit="img"
    title="{{ actor.name }}"
    height="100"
    width="177"
  />
  <div class="lrdk-header-content">
    <div class="lrdk-header-section">
      <input
        type="text"
        name="name"
        value="{{ actor.name }}"
        placeholder="{{localize 'LRDK.Actor.name'}}"
      />
      <input
        type="text"
        name="system.theme"
        value="{{ actor.system.theme }}"
        placeholder="{{localize 'LRDK.Actor.theme'}}"
      />
    </div>
    <div class="lrdk-header-section lrdk-health-section">
      <div>
        <label
          >{{localize 'LRDK.Actor.health'}} ({{ health.current }}/{{
            health.max
          }})</label
        >
        {{~> (partial moduleId 'actor/hpmpbar') color="#b71c1c" value=health}}
        <div class="lrdk-header-section">
          <a class="lrdk-health-update" data-mult="-1">
            <i class="fa-solid fa-square-caret-down"></i>
          </a>
          <input
            name="system.health.current"
            type="hidden"
            value="{{ actor.system.health.current }}"
          />
          <input name="health" type="number" value="1" />
          <a class="lrdk-health-update" data-mult="1"
            ><i class="fa-solid fa-square-caret-up"></i
          ></a>
          <div class="lrdk-separator"></div>
          <input
            class="lrdk-vital-modifier"
            name="system.health.modifier"
            type="number"
            value="{{ actor.system.health.modifier }}"
          />
        </div>
      </div>

      <div>
        <label for="system.age">
          {{ localize 'LRDK.Actor.age' }}
        </label>
        <input
          type="number"
          name="system.age"
          value="{{ actor.system.age }}"
          placeholder="{{localize 'LRDK.Actor.age'}}"
        />
      </div>
      <div>
        <label for="system.armor">
          {{ localize 'LRDK.Actor.armor' }}
        </label>
        <input
          type="number"
          name="system.armor"
          value="{{ actor.system.armor }}"
          placeholder="{{localize 'LRDK.Actor.armor'}}"
        />
      </div>
    </div>
    <div class="lrdk-header-section lrdk-inv-section">
      <input
        type="text"
        name="system.inventory"
        value="{{ actor.system.inventory }}"
        placeholder="{{localize 'LRDK.Actor.inventory'}}"
      />
    </div>
    <div class="lrdk-header-section">
      <div class="lrdk-damage">
        <a
          class="lrdk-roll-damage"
          data-formula="{{ actor.system.damagePhysical }}"
          data-icon="explosion"
        >
          <i class="fa-solid fa-explosion"></i>
        </a>
        <input
          type="text"
          name="system.damagePhysical"
          value="{{ actor.system.damagePhysical }}"
          placeholder="{{localize 'LRDK.Actor.damagePhysical'}}"
        />
      </div>
      <div class="lrdk-damage">
        <input
          type="text"
          name="system.damageMagical"
          value="{{ actor.system.damageMagical }}"
          placeholder="{{localize 'LRDK.Actor.damageMagical'}}"
        />
        <a
          class="lrdk-roll-damage"
          data-formula="{{ actor.system.damageMagical }}"
          data-icon="wand-sparkles"
        >
          <i class="fa-solid fa-wand-sparkles"></i>
        </a>
      </div>
    </div>
  </div>
</header>
